{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-bottom:100px">
    {% if not c %}
    <div>
        <h2 class="text-center">Cart is Empty</h2>
        <a href="{% url 'shop:home' %}">Continue Shopping</a>
    </div>
    {% else %}
    <h2 class="text-center">Shopping Cart</h2>
    <div class="row">
        <div class="col-sm-6">
            <table class=" table table-bordered" style="border:1px solid gray" >
                <tr><th colspan="5" class="text-center">Cart Items</th></tr>
                {% for i in c %}
                <tr>
                    <td>
                        <img src="{{ i.products.img.url }}" style="height:100px;width:100px">
                    </td>
                    <td>{{i.products.name}}</td>
                    <td><p><strong>Products Id:</strong>{{i.products.id}}</p>
                        <p><strong>Unit Price:</strong>{{i.products.price}}</p>
                        <p><strong>Quantity:</strong>{{i.quantity}}*{{i.products.price}}</p>
                    </td>
                    <td><strong>Total:</strong>{{i.subtotal}}</td>
                    <td>
                        {% if i.quantity < i.products.stock %}
                        <a href="{% url 'cart:add_cart' i.products.id %}"><i class="fa-solid fa-circle-plus"></i></a>
                        <a href="{% url 'cart:remove_cart' i.products.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                        <a href="{% url 'cart:delete_cart' i.products.id %}"><i class="fa-solid fa-trash"></i></a>
                        {% else %}
                        <a href="{% url 'cart:remove_cart' i.products.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                        <a href="{% url 'cart:delete_cart' i.products.id %}"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
        <div  style="position:relative;" class="col-sm-6">
      <table class="table table-bordered" style="border:1px solid gray">
          <tr><th colspan="5" class="text-center">Check Out</th></tr>
          <tr>
              <th class="text-center">Total:{{t}}</th>
          </tr>
      </table>
      <a class="btn btn-primary" href="{% url 'shop:home' %}">Continue Shopping</a>
      <a class="btn btn-primary" href="{% url 'cart:orderform' %}" style="position:absolute;right:5px;">Place Order</a>
    </div>
    </div>
    {% endif %}

</div>
{% endblock %}